:root{
    --main-c:#4DFF53;
    --border-r:1.2rem;
    color:#fff;
    font-weight:lighter;
    font-size: 1.5rem;
    text-align:center;
}
/* Estilos para el formulario de búsqueda moderno */
.modern-search-form {
    text-align: center;
    margin-top: -6ch;
}

.search-input {
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(195, 215, 40, 0.1);
    font-size: 1.2rem;
}

.search-button {
    width: 25%;
    padding: 1rem;
    background-color: #4DFF53;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search-button:hover {
    background-color: #9D48FF;
}

/** Estilos generales **/
html *{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, cursive;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    font-size: 1.2rem;
    font-weight:normal;
    text-align:center;
    line-height: 1.5;
    color: #c6c6c6;
}
a{
    text-decoration: none;
    color: #c6c6c6;
    font-weight:lighter;
    font-size: 1.2rem;
}
.wrap-cta{
    padding: 0rem 0;
    margin-left: 4rem;
    text-align:center;
    margin-top: 30ch;
}
.cta-a{
    color:#505050;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: 0.35rem 2rem;
    border-radius:10ch;
    margin-right: 4rem;
}
/** Fuentes **/
h1, h2, h3 {
    font-weight: lighter;
    text-indent: 10px;
    padding: 1rem;
    margin: 0;
    margin-top:10ch;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.5rem;
    color: #4DFF53;
}
h3 {
    font-size: 2.5rem;
    color: #ffffff;
}
/** Header **/
.header-landing{
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 0.25rem;
}
.logo-header{
    max-width: 800px;
    height: 100%;
    width: 100%;
}
/** Hero section **/
.hero-section{
    height: 80vh;
    background: url(/Img/Pareja\ gym2.jpg);
    background-position: center -10px;
    background-repeat: no-repeat;
    background-size:contain;
    display:flex;
}

.wrap-hero-section{
    height: 100vh;
    color: #ebebeb;
    text-align: center;
    margin-left: 10ch;
    padding: 0%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: -20ch;
}

.overlay h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.overlay p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.wrap-cta {
    margin-top: 70px;
}

/** Logo Brand Section **/
.section{
    margin: 1rem 0;
    padding: 1rem 0;
}
.section h2{
    padding: 20rem 0;
}
.wrap-logo-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: -1ch;
}
.logo-brand{
    width: 200px;
    padding:0rem 0.5rem;
    filter: grayscale(1);
}
/** Wrap Title **/
.wrap-title-secction{
    display: flex;
    justify-content: center;
    margin: 3rem 3rem;
}
/* Cambia la fuente y el color para el título del servicio */
.servicio-titulo {
    font-family: 'NuevaFuente', sans-serif; /* Cambia 'NuevaFuente' por la fuente deseada */
    color: #4DFF53; /* Cambia #FF0000 por el color deseado */
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
}
.wrap-text-column{
    display:grid;
}

body {
    background-color: #000000;
}

h2 {
    font-size: 3rem;
    text-align:center;
    color: #9D48FF;
    margin-bottom: 0rem;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}
.form-control {
    width: 97.5%;
    padding: 1rem;
    margin: 0.1rem;
    border-radius: 10ch;
}
textarea.form-control {
    resize: vertical;
}
.btn {
    background-color: #9D48FF;
    color: #fff;
    border: none;
    padding: 0.75rem 10.5rem;
    font-size: 2rem;
    border-radius: 250rem;
    cursor:auto;
    transition: background-color 0.3s ease-in-out;
}
.btn:hover {
    background-color: #8032E6;
}
.wrap-social-logo-section{
    min-width: 600px;
    color: #fff;
    padding: 100px;
    text-align: center;
    }
/* Estilos para la sección del footer */
.footer-section {
    background-color: #000000;
    color: #fff;
    padding: 40px 0;
}
/* Alinear los íconos sociales y elementos del menú en el footer */
.wrap-footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}
.wrap-social-logos ul,
.menu-footer-section ul {
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
}
.wrap-social-logos img {
    width: 30px;
    height: auto;
    width: 50px; height: auto;
    border-radius: 2ch;
}
.menu-footer-section {
    text-decoration: none;
    color:  #ffffff;
    font-weight: lighter;
    font-size:1.2rem;
    transition: color 0.100s ease-in-out;
}

.menu-footer-section a:hover {
    color: #4DFF53;
}
.footer-creds {
    text-align: center;
    margin-top: 100px;
}
/* Estilos para responsive */
    @media (max-width: 768px) {
    .wrap-footer-section {
    flex-direction: column;
    text-align: center;
    }
    
    .menu-footer-section {
    margin-top: 20px;
    }
}
/* Establece el color deseado para el texto en el div con la clase footer-creds */
.footer-creds p {
    color: #ffffff; /* Cambia #4DFF53 por el color deseado */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario h2 {
    font-size: 250%;
    margin-bottom: 20px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
}

.form-control {
    width: 93%;
    padding: 3%;
    border-radius: 10px;
    font-size: 20px;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

.cta-button {
    margin-top: 5ch;
    display: inline-block;
    background-color: #4DFF53;
    color: #000000;
    padding: 10px 350px;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #8c40e3;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    font-size: 24px;
    line-height: 1.5;
    color: #aaaaaa;
}

#miTexto {
    font-family:Verdana;
    font-style: italic;
    font-size: xxx-large;
    color: #4DFF53;
    font-weight: 1500;
}
